:root {
    /* --primary-color: #ee4d2b; */
    --primary-color :#d0011b;
    --white-color:#fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - (var(--navbar-height)));
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6rem;    
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 6);
}

.grid__col-2-4 {
    width: 20%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 1.2);
}

/* Header */


.notify {
    display: none;
    z-index: 1;
    position: absolute;
    top: 110%;
    right: 0;
    width: 400px;
    background: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
}

.notify::before {
    content: "";
    border-width: 21px 32px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -30px;
}

.notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 20px;
    right: 0;
    top: -16px;
}


.notify__header {
    height: 40px;
}

.notify__header h3 {
    color: rgb(153, 118, 118);
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
}

.notify__list {
    padding: 0;
}

.notify__item {
    display: flex;
}

.notify__item:hover,
.notify__footer-btn:hover {
    background-color: #f7f7f7;
}

.notify__item--viewed {
    background-color: rgba(238, 77, 43, 0.08);
}

.notify__item-link {
    display: flex;
    width: 100%;
    padding: 0 12px 12px 12px;
    text-decoration: none;
}

.notify__item-img {
    width: 48px;
    object-fit: contain;
}

.notify__item-info {
    margin-left: 12px;
}

.notify__item-name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 6px 0;
}

.notify__item-description {
    display: block;
    color: #756F6E;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.notify__footer {
    
}

.notify__footer-btn {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 12px 0;
    text-align: center;
}





/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0.1);
        opacity: 0.2;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    position: relative;
    z-index: 1;
    margin: auto;
    animation: growth linear 0.1s;
}



.btn {
    min-width: 120px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    height: 34px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4rem;
    background-color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: #ee4d2d;
}

.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

/* Selection */
.select__input {
    display: flex;
    position: relative;
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.select__input-label {
    font-size: 1.4rem;
}

.select__input-icon {
    position: relative;
    font-size: 1.4rem;
    top: -1px;
}



.select__input:hover .select__input-list {
    display: block;
}

.select__input-list {
    position: absolute;
    left: 0;
    top: 25px;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 10px 16px;
    display: none;
    z-index: 1;
}

.select__input-list::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
}

.select__input-link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 0;
    color: var(--black-color);
}

.select__input-link:hover {
    color: var(--primary-color);
}

.price-icon {
    font-size: 1rem;
    color: #ee4d2d;
}