.main {
    overflow: hidden;
}


.header {
    height: var(--header-height);
    background: var(--primary-color);
}


/* Navbar */
.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.navbar__item {
    position: relative;
    margin: 0 8px;
}

.navbar__user {
    display: flex;
    justify-content: center;
    
}

.navbar__user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__user-name {
    margin-left: 8px;
    font-size: 1.3rem;
    font-weight: 400;
}

.navbar__user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.1s;
    display: none;
}

.navbar__user-menu:before {
    content: "";
    border-width: 21px 32px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -30px;
    z-index: -1;
}

.navbar__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 66%;
    height: 8px;
}


.navbar__user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__user-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 16px;
    font-weight: 400;
}

.navbar__user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar__user-item a:hover {
    background-color: #fafafa;
    color:rgb(14, 170, 175);
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid hsla(0,0%,100%,.22);
    height: 18px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}


.navbar__item--has-notify:hover .notify,
.navbar__item--has-qr:hover .qr {
    display: block;
}

.navbar__item,
.navbar__item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    min-height: 26px;
}

.navbar__item,
.navbar__item-link,
.navbar__icon {
    display: flex;
    align-items: center;
}

.navbar__item:hover,
.navbar__item-link:hover,
.navar__icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__icon {
    font-size: 1.4rem;
    margin: 0 4px;
}

.navar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navar__icon-link:nth-child(2) {
    margin-left: 3px;
}

.navbar__title--no-pointer {
    cursor: text;
    color: var(--white-color)
}

.qr {
    display: none;
    border-radius: 2px;
    width: 190px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 110%;
    animation: fadeIn ease 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}

.qr::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
}

.qr__img {
    border-radius: 2px;
    width: 100%;
}

.qr__apps {
    display: flex;
    justify-content: space-between;
}

.qr__apps-img {
    height: 16px;
    margin: 0 12px;
}

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color)
}

.auth-form__switch-btn {
    font-size: 1.65rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin: 16px 0;
}


.auth-form__input {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    font-weight: 500;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__control-back {
    background-color: var(--white-color);
}

.auth-form__social-icon {
    font-size: 1.4rem;
}

.auth-form__social--facebook {
    background-color: #3A5A98;
    color: var(--white-color);

}

.auth-form__social--facebook 
.auth-form__social-icon {
    color: var(--white-color);
}

.auth-form__social-title {
    margin: 0 36px;
}

.auth-form__social--google {
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color:#939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    justify-content: space-between;
}

.header__mobile-search {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    padding: 0px 24px;

}


.header__wrapper {
    display: flex;
    align-items: center;
}

.header__left {
    display: inline-block;
}

.header__left-logo {
    color: transparent;
    text-decoration: none;
    width: 40px;
}

.header__left--separate {
    height: 30px;
    border-right: 1px solid hsla(0,0%,100%,.4);
    text-decoration: none;
    background: transparent;
    margin: 0 16px;
}

.header__mid {
    width: 165px;
    padding: 7px 0;
}

.header__mid-name {
    position: relative;
    top: 7px;
}

.header__right {
    display: flex;
    align-items: center;
    width: 590px;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: auto;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    padding: 3px;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}


.header__search-input-wrap {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    align-items: center;
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 12px;
    border-radius: 2px;
}

.header__search-select {
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
    padding-left: 16px;
    padding-right: 12px;
    height: 2.6rem;
    line-height: 2.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    
}

.header__search-select-label {
    flex: 1;
    font-size: 1.4rem;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #4a4a4a;
    position: relative;
    margin: 0 6px;
    top: -2px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    width: 124%;
    border-radius: 2px;
    padding-left: 0;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    display: none;
    z-index: 2;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 100%;
    height: 10px;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-right: 2px;
    padding: 8px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #d41830;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 8px);
    left: -3px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189 189 189);
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 12px 0 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    padding: 0px 12px;
    cursor: pointer;
    font-size: 1.3rem;
}

/* Header sort bar  */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
}

.header__sort-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 60%;
    left: 0;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: #ee4d2d;
    border-bottom: 3px solid #ee4d2d;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}


.cart__wrap {
    position: relative;
    display: inline-block;
    padding: 0px 24px;
    cursor: pointer;
    top: 4px;
    -webkit-tap-highlight-color: transparent;
}


.cart__icon {
    fill: currentColor;
    width: 26px;
    cursor: pointer;
    color: #fff;
    stroke: #fff;
}

.cart__wrap:hover .cart__list {
    display: block;
}

.cart__list {
    position: absolute;
    top: calc(100% + 6px);
    right: 0px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.15s;
    cursor: default;
    z-index: 2;
}

.cart__list::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 17%;
    height: 24px;
    z-index: -1;
}

.cart__list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 8px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.cart-heading {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin: 14px 12px;
}

.cart__list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}


.cart-item {
    display: flex;
    
}

.cart-item:hover {
    background-color: #f8f8f8;
}

.cart__img-item {
    width: 40px;
    height: 40px;
    margin: 12px;
    border: 1px solid var(--boder-color);
    object-fit:cover
}

.cart__item-info {
    width: 100%;
    margin-right: 12px;
    margin-top: 12px;
}

.cart__item-head {
    display: flex;
    justify-content: space-between;
}

.cart__item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 210px;
    text-align: left;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
    line-height: 1.8rem;
}


.cart__item-price {
    font-size: 1.4rem;
    color: #ee4d2d;
    font-weight: 400;
}


#cart__view-cart {
    float: right;
    margin: 0 12px 12px 0;
    background-color: var(--primary-color);
}

.cart__list--no-cart {
    padding: 28px 0;
}

.cart__list--no-cart .cart__list--no-cart-msg,
.cart__list--no-cart .cart__img--no-cart {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cart__img--no-cart {
    width: 60%;
    display: none;
}

.cart__list--no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 24px 0;
}

.cart-notice {
    position: absolute;
    top: -8px;
    right: 8px;
    padding: 0 5px;
    font-size: 1.4rem;
    height: 20px;
    width: 26px;
    border-radius: 44px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 2px solid var(--primary-color);
}


/* App container */
.app__container {
    background-color: #f5f5f5;
}


.container__back-icon {
    margin-right: 4px;
}

.container__back-text {
    display: inline-block;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 20px 12px;  
    text-decoration: none;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__shop {
    position: relative;
    display: block;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.category__shop-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 172px;
}

.category__shop-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.category__shop-background-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
}

.category__shop-logo {
    position: relative;
    display: block;
    top: 6%;
    width: 100px;
    height: 100px;
}

.category__shop-icon { 
    width: 100%;
    display: block;
}

.category__shop-official {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    line-height: 0; 
}

.category__shop-official-img {
    width: 64px;
    height: 16px;
}


.category__shop-name {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    z-index: 1;
    color: var(--white-color);
    margin-top: 16px;
    margin-bottom: 10px;
}

.category__shop-status {
    font-size: 1.2rem;
    z-index: 1;
    margin: 0;
    color: rgba(255, 255, 255, 0.7)
}

.category__wrap {
    padding: 0px 20px 20px 20px;
}

.category__heading {
    color: var(--text-color);
    margin: 18px 0 20px 0;
    font-weight: 400;
    font-size: 1.4rem;
}

.category__list {
    padding-left: 0;
    list-style: none;
}

.category__item {
    border-top: 1px solid rgba(0, 0, 0, 0.09);    
}

.category__item:first-child {
    border-top: none;
}

.category__item--active .category__item-link{
    color: var(--primary-color);
}

.category__item-link {
    position: relative;
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0;
    right: 0;
    transition: right linear 0.1s;
}

.category__item-link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* Mobile category */
.mobile__category {
    display: none;
    margin-right: -8px;
}

.mobile__category-list {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile__category-list::-webkit-scrollbar {
    display: none;
}

.mobile__category-item {
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 80px;
}

.mobile__category-link {
    --line-height: 36px;
    display: block;
    padding: 0 6px;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: var(--line-height);
    height: var(--line-height);
    background-color: rgba(0, 0, 0, .03);
    border-radius: 2px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}




/*Home + Sortfilter*/
.home__filter {
    display: flex;
    align-items: center;
    padding: 13px 20px;
    background-color: rgba(0, 0, 0, 0.03);
}

.home__filter-label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 12px;
}

.home__filter-btn {
    min-width: 90px;
    margin-right: 10px;
}

.home__filter-page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home__filter-page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home__filter-page-current {
    color: var(--primary-color);
}

.home__filter-page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;

}

.home__filter-page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home__filter-page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home__filter-page-btn--disabled .home__filter-page-icon {
    color: #ccc;
}


.home__filter-page-btn:first-child {
    border-right: 1px solid #eee;
}

.home__filter-page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

.product__item--wrap {
    position: relative;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0, 0 , 0, .1);
    transition: transform linear 0.1s;
    will-change: transform;
    -webkit-tap-highlight-color: transparent
}

.product__item--wrap:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
    z-index: 1;
}

.product__item-img-wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
}


.product__item-img-background {
    z-index: 1;
}

.product__item-img,
.product__item-img-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product__item {
    padding: 10px;
}

.product__item-name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.6rem;
    height: 3.2rem;
    margin: 0 0 5px 0;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__item-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    
}

.product__item-offer--0 {
    color: #f5a623;
    width: 46%;
    padding: 2px 4px;
    font-size: 1.1rem;
    border: 1px solid #f5a623;
    line-height: 1.1rem;
    text-align: center;
    font-weight: 400;
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product__item-offer--0--none {
    display: none;
}

.product__item-offer--pay {  
    font-size: 1.1rem;
    line-height: 1.2rem;
    border: 1px solid #ed4d2d;
    padding: 2px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ee4d2d;
}

.product__item-offer--pay--none {
    display: none;
}

.product__item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.product__item-price-old {
    font-size: 1.4rem;
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
    width: 58px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.7rem;
}

.product__item-current--wrap {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.product__item-price-current {
    font-size: 1.7rem;
    color: #ee4d2d;
    
}

.product__item-icon-freeship {
    color: rgb(12, 138, 143);
    font-size: 1.3rem;
}

.product__item-action {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.product__item-like {
    font-size: 1.2rem;
}

i.product__item-like-icon-fill {
    color: #f53d2f;
    display: none;
}

.product__item-like--liked .product__item-like-icon-fill {
    display: inline-block;
}

.product__item-like--liked .product__item-like-icon-empty {
    display: none;
}


.product__item-rating {
    margin-left: auto;
    color: #ffce3d;
    font-size: 0.9rem;
}

.product__item-sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.product__item-origin {
    display: block;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .65);
    margin-top: 5px;
    text-align: right;
}

.product__item-favorite {
    position: absolute;
    top: 10px;
    left: 2px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.1rem;
    font-family: 'Jura', sans-serif;
    padding: 0 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    
}

.product__item-favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
   
}

.product__item-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;
    background-color: rgba(255,212,36,.9);
    padding: 4px 2px 3px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3rem;
    font-size: 1.2rem;
    border-top-right-radius: 2px;
}

.product__item-sale-off::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 18px 4px;
}

.product__item-percent {
    color: #ee4d2d;
    
}

.product__item-label {
    color: var(--white-color);
}

.product__pagination {
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
}


.footer__list--wrap {
    padding: 5px;
}

.footer__heading {
    max-height: 1.6rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .7);
    margin: 20px 0;
}

.footer__list {
    list-style: none;
    padding-left: 0;
    
}

.footer__item-link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 12px;
}


.footer__item-link:hover {
    color: #ee4d2d;
}

.footer__item-icon {
    font-size: 1.6rem;
    margin-right: 8px;
    position: relative;
    top: 2px;

}

.footer__item-icon, 
.footer__item-link span {
    margin-bottom: 6px;
}

.footer__download {
    display: flex;
    height: 84px;
}

.footer__download-qr {
    width: 84px; 
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-right: 15px;
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__download-apps-img {
    width: 80px;
}

.footer__text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 0;
    display: flex;
    color: rgba(0, 0, 0, .65);
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}

.footer__copyright {
    margin-right: 25px;
}

.footer__country {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.footer__country-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.footer__country-item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .65);
    display: block;
    padding: 0 5px;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.footer__bottom {
    --height-footer-bootom: 48px;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .7);
    min-height: var(--height-footer-bootom);
    line-height: var(--height-footer-bootom);
}

.footer__policy {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}